@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
/* Global variables */
:root {
  --color-100: hsl(0, 0%, 100%);
  --color-200: hsl(225, 40%, 83%);
  --color-500: hsl(225, 21%, 45%);
  --color-800: hsl(225, 26%, 23%);
  --color-900: hsl(224, 35%, 11%);

  --color-accent-400: hsl(157, 74%, 62%);
  --color-accent-hover-200: hsl(157, 100%, 85%);
  --color-error-400: hsl(0, 96%, 61%);

  --font-family: "Chivo", sans-serif;
  --font-weight-regular: 400;
}

/* Reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  display: block;
  background: none;
  border: none;
  font: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Styles */

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--color-200);
  background-color: var(--color-900);
}

main {
  padding-inline: 1.5rem;
}

.background-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./assets/mobile/image-host.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-900);
  background-blend-mode: overlay;
  z-index: -1;
  opacity: 0.5;
}

.accent {
  color: var(--color-accent-400);
}

.title {
  font-size: 1.625rem;
  font-weight: 100;
  line-height: 1.46;
  text-align: center;
  color: var(--color-100);
  text-transform: uppercase;
}

.description {
  margin: 1rem 0 2rem;
  font-size: 0.9375rem;
  text-align: center;
  font-weight: 100;
  line-height: 1.66;
}

.signup-form__field input,
.signup-form__field button {
  height: 2.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2;
  border: none;
  border-radius: 1.75rem;
}

.signup-form__field input {
  color: var(--color-100);
  background-color: var(--color-800);
  text-align: center;
  width: 100%;
  outline: none;
}

.signup-form__field input::placeholder {
  opacity: 0.5;
}

.signup-form__field button {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--color-accent-400);
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.5);
  transition: background-color 0.3s ease-in-out;
}

.signup-form__field button:hover {
  background-color: var(--color-accent-hover-200);
}

.signup-form__field small {
  margin-top: 0.25rem;
  display: block;
  text-align: center;
  color: var(--color-error-400);
  line-height: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

.logo img {
  margin: 3.875rem auto;
}

.vendors {
  margin: 3rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

@media screen and (min-width: 640px) {
  main {
    padding-inline: 2.5rem;
  }

  .background-img {
    position: relative;
    z-index: -1;
  }

  .background-img::before {
    background-image: url("./assets/tablet/image-host.jpg");
    background-blend-mode: multiply;
    background-color: var(--color-accent-400);
    background-size: cover;
    filter: brightness(1.25);
    inset: 0 0 0 40%;
  }

  .logo {
    width: 34%;
    height: 258px;
    padding-top: 3.125rem;
    background-color: var(--color-900);
  }

  .logo img {
    margin: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--color-900);
  }

  .title,
  .description {
    text-align: left;
  }

  .title {
    margin-top: 5.8125rem;
    font-size: 3rem;
    line-height: 1.16667;
  }

  .description {
    font-size: 1.125rem;
    line-height: 1.55556;
    max-width: 70%;
  }

  .signup-form__field {
    max-width: 70%;
    position: relative;
  }

  .signup-form__field button {
    margin: 0;
    position: absolute;
    width: 162px;
    height: 46px;
    top: 5px;
    right: 5px;
  }

  .signup-form__field input {
    text-align: left;
    height: 3.5rem;
    padding-right: 162px;
    padding-left: 2rem;
  }

  .signup-form__field small {
    text-align: left;
    padding-left: 2rem;
  }

  .vendors {
    order: 1;
    justify-content: flex-start;
    margin-left: 0;
    margin-bottom: 0;
  }

  .dots {
    height: 257px;
    width: 100%;
    position: relative;
  }

  .dots::before {
    content: "";
    position: absolute;
    background-image: url("./assets/desktop/bg-pattern-dots.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    inset: 0;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding-inline: 11vw;
    padding-top: 8.125rem;
  }

  .background-img::before {
    background-image: url("./assets/desktop/image-host.jpg");
    background-size: cover;
    inset: 8.125rem 0 0 40%;
  }

  .logo {
    padding: 0;
    height: 131px;
  }
  .logo img {
    margin-top: -1.75rem;
  }

  .content {
    max-width: 723px;
  }

  .title {
    margin-top: 5.5rem;
    font-size: 3.25rem;
    line-height: 1.19231;
  }

  .description {
    margin: 1.5rem 0 2.5rem;
    max-width: 445px;
  }

  .signup-form__field {
    max-width: 427px;
  }

  .vendors {
    gap: 2rem;
  }

  .dots {
    height: 130px;
    position: relative;
    z-index: 1;
  }

  .dots::before {
    top: -52px;
    background-position: top right;
  }
}
